*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: none;
  height: 100vh;
  background-color:black;
}

.content-container {
  padding: 48px 0px 48px 48px;
}

.about-container {
  color: white;
  padding: 48px 0px 48px 48px;
}