.player-container {
    padding: 48px 0px 48px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: scale-down;
}

.player-content {
    margin: auto;
    width: 40%;
    padding: 10px;
    border: solid 2px #202020;
    border-radius: 40px;
    box-shadow: 2px 2px #1a1a1a;
    height: 80vh;    
}
.text-style {
    padding: 10px;
    height: 10%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    color: white;
}
.song-thumbnail{
    height: 80%;

}
.song-image {
    display: block;
    transform: translateY(50%);
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: auto;
  max-width: 100%;
  transition: ease all .5s;
  border-radius: 100%;

}

.naked-button{
    border: none;
    background: none;
    
  cursor: pointer;
}

.prev:hover, .next:hover {
    size: 2em;
}
.player-button {
    width: 50%;
    height: 10%;
  display: flex;
    justify-content: space-around;
    transform: translateX(50%);

}